<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap" rel="stylesheet">

    <style>
        body{
            background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
</head>
<body>
    <header>
        <h2><a href="/">FarmCare</a></h2>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About Us</a></li>
            
        </nav>
    </header>
    <section class="hero">
        <div class="background-image"></div>
        <div class="hero-content-area">
          <h3>Welcome to FarmCare</h3>
          <br>
          <h3>Your go-to website for all the doubts related to farming</h3>
          <h3 style="font-family: 'Mukta', sans-serif;">देश का विकास,  किसान के पास</h3>
          <a href="/login" class="btn">Let's Get Started</a>
        </div>
      </section>
</body>
</html>